section {
    /* height: 300px; */
    padding: 20px;
    margin: 20px;
    border: dotted rgba(0,0,0,.5) 2px;
}

/* cascading rule */
h1#day {
    color: green;
}

h1 {
    color: red;
}


/* specificity rules!
   id > class > element

   multi-faceted selectors > single selectors
*/

ul li {
    color:red;
}

li {
    color: blue;
}

#css li{
    color: purple;
}

/* can apply rules to multiple selectors */

#css .highlight,
#html .highlight,
#git .highlight {
    color: yellow;
}
/* can target direct > or all descendants <space> */

#html > h2 {
    color: orange;
}

#html h2 {
    color: pink;
}

/* positioning elements */

section#css {
    position: sticky;
}

section#html {
    position: sticky;
    top: 50px;
    left: 100px;
}

/* positioning elements side by side */

main section {
    /* float: right; */
}

main {
    display: flex;
    justify-content: space-between;
    align-items: 
}